/*@font-face {
  font-family: "vb";
  src: url("../public/assets/15_HabboTwelveBold.woff") format("woff"),url("../public/assets/15_HabboTwelveBold.ttf")
      format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "v";
  src: url("../public/assets/260_HabboTwelveRg.woff") format("woff"),url("../public/assets/260_HabboTwelveRg.ttf")
      format("truetype");
  font-weight: normal;
}*/
@font-face {
  font-family: "vb";
  src: url("../public/assets/volter.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../public/assets/volter.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "v";
    src: url("../public/assets/Volter__28Goldfish_29.woff") format("woff"),
      /* Pretty Modern Browsers */ url("../public/assets/volter.ttf")
        format("truetype"); /* Safari, Android, iOS */
  }
body {
  margin: 0;
  font-smooth: never;
  -webkit-font-smoothing: subpixel-antialiased;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
